body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** Scrabble Tiles **/
.content {
  text-align: center;
  margin: 2rem auto;
}

.tile-context {
  display: block;
  padding: 1rem;
}

.tile-box {
  display: inline-block;
  position: relative;
  height: 3.8rem;
  width: 3.8rem;
  padding: 1rem;
  /* margin: 0.15rem; */
  border: 1px solid;
  border-color: black;
  color: black;
  font-size: 2rem;
  font-weight: 200;
}

input:focus {
  outline: none;
}

.modal-header {
  font-weight: 200;
}
